.main {
    display: flex;
    flex-direction: column;
    width: 56vw;
    height: 70vh;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    background-color: white;

    @media (max-width: 768px) {
        width: 100vw;
        height: 100vh;
        border-radius: 0px;
    }

    .header {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #f0f0f0;
        height: 6vh;

        @media (max-width: 768px) {
            border-bottom: 0px;
        }

        .backIcon {
            position: absolute;
            left: 1rem;
            top: 20%;
            cursor: pointer;
            font-size: 2.2em;
            color: #CCCCCC;
        }

        span {
            font-size: 1.5em;
            color: #8d8d8d;
        }
    }

    .container {
        width: 100%;
        height: 100%;
        padding: 26px;

        @media (max-width: 768px) {
            padding: 26px 6px 26px 6px;
        }
    }


}

.table{
    overflow-y: auto;
}

.headerTable {
    color: #8d8d8d;
}

.itemTable {
    color: #838383;
}

.editIcon {
    color: #175e73d5;
    font-size: 1.1em;
    cursor: pointer;
}

.deleteIcon {
    color: #901919be;
    font-size: 1.1em;
    cursor: pointer;
}