    .main {
        position: relative;
        width: 75vw;
        height: 75vh;
        border-radius: 8px;
        background-color: rgba(255, 255, 255, 0.292);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        overflow: hidden;

        @media (max-width: 768px) {
            width: 100vw;
            height: 100vh;
            border-radius: 0px;
        }

        &::before {
            content: '';
            position: absolute;
            top: -50%;
            left: -35%;
            width: 200%;
            height: 200%;
            pointer-events: none;
            background:
                linear-gradient(60deg,
                    transparent 60%,
                    rgba(255, 255, 255, 0.407) 62%,
                    rgba(255, 255, 255, 0) 64%,
                    transparent 100%);
            transform: rotate(0deg);
            opacity: 0.4;
        }

        .container {
            display: flex;
            flex-direction: column;
            width: 75vw;
            height: 75vh;

            @media (max-width: 768px) {
                width: 100vw;
                height: 100vh;
                border-radius: 0px;
            }

            .header {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 7.5vh;
                background-color: white;
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

                .backIcon {
                    position: absolute;
                    left: 2rem;
                    //top: 20%;
                    cursor: pointer;
                    font-size: 2.2em;
                    color: #D4D4D4;
                }

                span {
                    color: #8D8D8D;
                    font-size: 1.7em;
                }
            }

            .body {
                height: 90%;
                padding: 26px;
                overflow-x: auto;

                .card {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    background-color: white;
                    border-radius: 6px;
                    padding: 12px;

                    @media (max-width: 768px) {
                        height: 80%;
                    }

                    .containerFiltros {
                        width: 100%;
                        height: 5vh;
                        border-bottom: 1px solid #aaaaaa7e;

                        .label {
                            color: #8D8D8D;
                            margin-right: 4px;
                        }

                        .drpFiltro {
                            span {
                                color: #8D8D8D;
                                font-weight: 600;
                            }
                        }
                    }

                    .containerGrafico {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        //height: 100%;
                    }
                }
            }

            .footer {
                height: 10%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding: 0px 26px 26px 26px;
            }

        }


    }