.main {
    display: flex;
    gap: 32px;

    @media (max-width: 768px) {
        flex-direction: column;
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        //gap: 8px;
        padding: 16px;
        width: 16vw;
        height: 28vh;
        border-radius: 6px;
        cursor: pointer;
        background-color: white;
        color: #8D8D8D;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
        transition:
            transform 0.4s ease,
            box-shadow 0.4s ease;

        @media (max-width: 768px) {
            width: 48vw;
            height: 20vh;
        }

        .containerIcon {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 70%;

            .icone {
                width: 10vw;
                height: 12vh;
                fill: #8D8D8D;

                @media (max-width: 768px) {
                    width: 14vw;
                    height: 14vh;
                }
            }
        }

        .containerTexto {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            height: 30%;

            span {
                font-size: 1.2em;
                font-weight: 600;
                text-align: center;
                user-select: none;

                @media (max-width: 768px) {
                    font-size: 1.4em;
                }
            }
        }
    }

    .card:hover {
        transform: translateY(-3px) rotateX(5deg);
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    }
}