body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-carousel .slick-prev,
.ant-carousel .slick-next,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover {
  font-size: 10em;
  color: #175e73;

}

.ant-carousel .slick-dots-bottom li {
  background-color: #175e7382;
}

:where(.css-dev-only-do-not-override-1rfzxih).ant-carousel .slick-dots li::after {
  display: block;
  position: absolute;
  top: 0;
  inset-inline-start: 0;
  width: 100%;
  height: 3px;
  content: "";
  background: #175e7355;
  border-radius: 3px;
  opacity: 1;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  transform: translate3d(-100%, 0, 0);
}