name: tests

on:
  push:
    branches: [ main ]   
  pull_request:
    branches: [ main ]              

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: npm

      - name: Install deps
        run: npm ci

      - name: Run tests
        run: npm test -- --ci