.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;

    .containerLogo {
        padding: 0px 16px 0px 16px;
        border-right: 1px solid #f0f0f0;
        img {
            width: 4vw;
            cursor: pointer;
        }
    }

    .containerPerfil{
        padding: 0px 16px 0px 16px;
        border-left: 1px solid #f0f0f0;

        button{
            color: #888888;
        }
    }
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../../public/bgMenu.jpg') no-repeat bottom/cover;
}